{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
Просмотр отчета
{% endblock title %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
<script
    src="//cdn.jsdelivr.net/gh/TRSasasusu/highlightjs-highlight-lines.js@1.2.0/highlightjs-highlight-lines.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/highlightjs-line-numbers.js@2.8.0/dist/highlightjs-line-numbers.min.js"></script>
{% endblock style %}
{% block content %}
<script>
    hljs.highlightAll();
    hljs.initLineNumbersOnLoad();
</script>
<div class="mt-5 nav">
    <a role="button" class="btn btn-success btn-lg" onclick="history.back()">Назад</a>
</div>
<div class="d-flex align-items-center justify-content-center">
    <div class="container text-white">
        <div class="text-center">
            <h2 class="lab text-pimped"> Отчет {{ hash }} </h2>
        </div>
        <div class="mt-5 row">
            {% for coeff, f1, f2 in data2 %}
            <div class="col-sm">
                <h4 class="text-pimped"> Процент заимствования: {{ coeff|floatformat:0 }}% </h4>
                <div class="d-flex">
                    <div class="m-1">
                        <h5 class="bg-success">{{ f1 }}</h5>
                    </div>
                    <div class="m-1">
                        <h5 class="bg-success">{{ f2 }}</h5>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="justify-content-between mt-5">
            {% for name, cont in data1 %}
            <div>
                <div class="language-python">
                    <h5 class="text-center bg-success">{{ name }}</h5>
                    <pre><code>{{ cont }}</code></pre>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}